[submodule "external/MarqSpec.Client.ProjectX"]
	path = external/MarqSpec.Client.ProjectX
	url = https://github.com/adammarquette/MarqSpec.Client.ProjectX
[submodule "external/MarqSpec.Client.Tradovate"]
	path = external/MarqSpec.Client.Tradovate
	url = https://github.com/adammarquette/MarqSpec.Client.Tradovate
